{% extends 'base.html.twig' %}

{% block title %}Dodaj magazyn{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Dodaj magazyn</h1>
    <div class="custom-width">
        {{ form(form) }}
    </div>
{% endblock %}