{% extends 'base.html.twig' %}

{% block title %}Dodaj użyszkodnika{% endblock %}

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Dodaj użytkownika</h1>
    {{ form(form) }}
{% endblock %}